{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="row" style="margin-bottom: 2rem">
        <a href="{{ path('app_task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
    </div>
    <div class="row">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4" style="margin-bottom: 3rem">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="pull-right">
                        {% if task.isDone %}
                            <span style="color: yellowgreen" class="glyphicon glyphicon-ok"></span>
                        {% elseif task.isNotDoneAfterDeadline %}
                            <span style="color: red" class="glyphicon glyphicon-exclamation-sign"></span>
                        {% endif %}
                    </h4>
                    <h4>
                        {% if task.user is same as(app.user) or 'ROLE_ADMIN' in app.user.roles %}
                            <a href="{{ path('app_task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
                        {% else %}
                            {{ task.title }}
                        {% endif %}
                    </h4>
                    <p>{{ task.content }}</p>
                    <p class="text-right" style="color: grey; margin-right: 1rem;">
                        <small>
                            {% if task.deadline %}Jusqu'au {{ task.deadline|date('d/m/Y') }}{% endif %}
                        </small>
                        <br>
                        <small>{{ task.user.username }}</small>
                    </p>
                </div>
                <div style="display: flex; justify-content: right; margin-bottom: 1rem; margin-right: 1rem">
                    <form style="margin-right: 2px" action="{{ path('app_task_toggle', {'id' : task.id }) }}">
                        <button class="btn btn-success btn-sm">
                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                        </button>
                    </form>
                    {% if task.user is same as (app.user) or 'ROLE_ADMIN' in app.user.roles %}
                        <form action="{{ path('app_task_delete', {'id' : task.id }) }}">
                            <button class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" style="display: flex; justify-content: space-between" role="alert">
                <span style="padding-bottom: 5px; padding-top: 5px">Il n'y a pas encore de tâche enregistrée.</span>
                <span><a href="{{ path('app_task_create') }}" class="btn btn-warning">Créer une tâche</a></span>                    
            </div>
        {% endfor %}
    </span>
{% endblock %}
